<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Be Cash Conference</a>
    <a class="btn btn-primary" href="#">Get Tickets</a>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <img src="./images/logo2.svg" class="img-fluid hero-logo">
        <!-- <h1 class="mb-5">Be Cash 2019</h1> -->
      </div>
      <div class="col-xl-9 mx-auto">
        <!-- <h3 class="mb-5">A Bitcoin Cash conference in Canada ( ... i think )</h1> -->
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <!-- <input type="email" class="form-control form-control-lg" placeholder="Enter your email..."> -->
              </div>
              <div class="col-12 col-md-3">
                <!-- <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>Get Woke</h3>
          <p class="lead mb-0">No more HODLing your bags while you wait on lightning.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>The Greatest Minds</h3>
          <p class="lead mb-0">Your one stop shop for speakers that aren't worthless cucks!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>It's Canadian</h3>
          <p class="lead mb-0">At least I think it still is.  Eh?!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./images/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Day One</h2>
        <p class="lead mb-0">
          Lorem ipsum dolor amet cardigan mumblecore offal, salvia taxidermy hexagon palo santo yuccie 90's artisan biodiesel. Unicorn twee listicle forage prism chartreuse swag. Blog before they sold out williamsburg normcore gastropub +1 artisan asymmetrical thundercats. Scenester bespoke cold-pressed echo park portland. Chicharrones sustainable 3 wolf moon post-ironic tbh af pok pok man bun. Authentic la croix quinoa whatever taxidermy cold-pressed tumblr leggings hoodie.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('./images/bg-showcase-2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Day Two</h2>
        <p class="lead mb-0">
          Trust fund gluten-free street art cray lyft knausgaard narwhal authentic pour-over sartorial disrupt VHS palo santo. Blue bottle asymmetrical poke, yuccie blog cliche tbh bicycle rights neutra coloring book. Next level butcher blue bottle hashtag try-hard. Af chicharrones adaptogen pour-over taiyaki narwhal post-ironic skateboard shoreditch VHS drinking vinegar wayfarers.
        </p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('./images/bg-showcase-3.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>The Hackathon</h2>
        <p class="lead mb-0">
          Chartreuse bicycle rights put a bird on it, affogato mlkshk fingerstache freegan 3 wolf moon bitters four dollar toast. Brunch iceland hot chicken jianbing, glossier fingerstache asymmetrical. Slow-carb adaptogen narwhal tattooed williamsburg art party waistcoat. Freegan cornhole scenester, wayfarers coloring book tilde succulents roof party cray next level asymmetrical shaman organic copper mug.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">Meet Our 2019 Speakers</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="./images/testimonials-1.jpg" alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"Holy shit, are my bags heavy!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="./images/testimonials-2.jpg" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">
            "I'm a certified nocoiner!"
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="./images/testimonials-3.jpg" alt="">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">
            "I wonder if there's food in the green room."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">
          Get your fucking ticket already!
        </h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <!-- <input type="email" class="form-control form-control-lg" placeholder="Enter your email..."> -->
            </div>
            <div class="col-12 col-md-3">
              <!-- <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Be Cash Conference 2019. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

